<div class="page-header">
    <h1 class="page-title">Data Seluruh Kegiatan Kamu</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kegiatan</li>
        </ol>
    </div>
</div>
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Semua Kegiatan Kamu</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example3" class="table table-bordered text-nowrap border-bottom">
                        <thead>
                            <tr>
                                <th class="border-bottom-0">#</th>
                                <th class="border-bottom-0">Kegiatan</th>
                                <th class="border-bottom-0">Keterangan</th>
                                <th class="border-bottom-0">Sudah Dilakukan</th>
                                <th class="border-bottom-0">Tanggal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(function (datas, i){ %>
                                <tr>
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <%= datas.nama_kegiatan %>
                                    </td>
                                    <td>
                                        <%= datas.keterangan===null ? '-' : datas.keterangan%>
                                    </td>
                                    <td>
                                        <% if(datas.tercapai===true){%>
                                            <span class="badge bg-success badge-sm  me-1 mb-1 mt-1">Sudah
                                                Dikerjakan</span>
                                            <% }else{ %>
                                                <span class="badge bg-danger badge-sm  me-1 mb-1 mt-1">Belum
                                                    Dikerjakan</span>
                                                <% } %>
                                    </td>
                                    <td>
                                        <%= moment(datas.tanggal_input).format('DD MMMM, YYYY') %>
                                    </td>
                                </tr>
                                <% })%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>